<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default center-block">
        <div class="panel-heading">
          <h2 class="panel-title pull-left">Log In</h2>
          <div class="right-text">
            <%= render 'devise/shared/links' %>
          </div>
        </div>
        <div class="panel-body">
          <%= devise_error_messages! %>
          <fieldset>
            <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>

            <div class="input-holder">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
            </div>

            <div class="input-holder">
              <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off' %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="input-holder">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <div class="submit-holder">
              <%= f.submit "Log In", tag: 'button', class: 'btn btn-primary btn-block' %>
            </div>
          </div>
          <% end %>
        </fieldset>

      </div>
    </div>
  </div>
</div>
</div>
